@{
    ViewData["Title"] = "Accueil";
}

<div class="text-center">
    <h1 class="display-4">Bienvenue chez Express Voitures</h1>
    <a class="btn btn-action" asp-area="" asp-controller="Cars" asp-action="Index">Découvrez nos meilleures occasions en vente !</a>
    <br />
    <img class="img-accueil" src="/img/accueil.png" alt="Bienvenue chez Express Voitures." />
</div>
